/* .navbar{
    flex-grow: 1;
    box-shadow: -2px 0px 30px rgb(230, 230, 230);
    text-align: center;
    overflow: auto;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #19388A;
    color: white;
}

.user p{
    margin-top: 1em;
}

ul{
    list-style-type: none;
}

ul li{
    margin: 3em 0;
}

ul li a{
    display: inline;
    text-decoration: none;
    color: black;
} */